{% extends 'base.html.twig' %}

{% block title %}Recruiter - Fiches de poste {% endblock %}

{% block body %}
    <body class="antialiased">
    <div class="page">
        {% include 'navbar.html.twig' %}

        <div class="content">
            <div class="container-xl">
                {% include 'flash_msg.html.twig' %}

                {# card contenant la table des fiches de poste #}
                <div class="card">
                    <div class="card-header">
                        <div class="row w-100 d-flex flex-row justify-content-between align-items-center">
                            <div class="col-auto">
                                <h3 class="card-title">Liste des projets de recrutement</h3>
                            </div>
                            <div class="col-auto d-print-none">
                                <a href="{{ path('createRecruitementProject') }}" class="btn btn-primary"><span
                                            class="mr-2">Ajouter</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon m-0" width="24" height="24"
                                         viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                         stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                        <line x1="12" y1="5" x2="12" y2="19"/>
                                        <line x1="5" y1="12" x2="19" y2="12"/>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" style="padding: 0 !important;">
                        {% if(recruitmentProjects is defined) %}
                            <div class="table-responsive">
                                <table class="table table-vcenter table-mobile-md card-table">
                                    <thead>
                                    <tr>
                                        <th>Fonction</th>
                                        <th>Nb de projets en cours</th>
                                        <th>Date de création</th>
                                        <th>Lien de partage</th>
                                        <th class="text-right">Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {# boucle pour afficher tous les projets #}
                                    {% for project in recruitmentProjects %}
                                        <tr>
                                            <td data-label="">{{ project.name }}</td>
                                            <td>3 projets en cours</td>
                                            <td>{{ project.createdAt | date('d/m/Y')}}</td>
                                            <td>
                                                <div class="row d-flex flex-row justify-content-center align-items-center">
                                                    <div class="col-auto">
                                                        <input type="text" id="{{ project.id }}" value="http://localhost:8000/application/{{ project.slug }}"
                                                               class="form-control" readonly>
                                                    </div>
                                                    <div class="col-auto">
                                                        <button type="button" id="copyLinkBtn" class="btn btn-primary btn-sm"
                                                                onclick="copy({{ project.id }})">
                                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon m-0"
                                                                 width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                                                                 stroke="currentColor" fill="none" stroke-linecap="round"
                                                                 stroke-linejoin="round"><path stroke="none"
                                                                                               d="M0 0h24v24H0z"
                                                                                               fill="none"/><rect x="8"
                                                                                                                  y="8"
                                                                                                                  width="12"
                                                                                                                  height="12"
                                                                                                                  rx="2"/><path
                                                                        d="M16 8v-2a2 2 0 0 0 -2 -2h-8a2 2 0 0 0 -2 2v8a2 2 0 0 0 2 2h2"/></svg>
                                                        </button>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="btn-list flex-nowrap">
                                                    <a href="" class="btn btn-white">Voir</a>
                                                    <a href="" class="btn btn-white">Modifier</a>
                                                    <a href="" class="btn btn-white">Supprimer</a>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% else %}
                            <div class="w-100 d-flex d-inline-flex justify-content-center align-items-center p-5">
                                <span>Vous n'avez aucun projet enregistré.</span>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div> {# end containter-xl #}
        </div> {# end content #}
    </div> {# end page #}
    </body>

    <script>
        function copy(projectId) {
            let link = $('#' + projectId);
            link.select();

            if (document.execCommand('copy')) {
                let btn = $('#copyLinkBtn');
                // alert('Le lien a été copié dans le presse-papier.');
                btn.tooltip({
                    placement: 'right',
                    title: 'Le lien a été copié dans le presse-papier.'
                });
                btn.tooltip('show');
            }
        }
    </script>
{% endblock %}