{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <body class="antialiased d-flex flex-column">

    {# Lien de retour vers l'accueil #}
    <a href="{{ path('index') }}" class="arrow_back"><svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="5" y1="12" x2="19" y2="12" /><line x1="5" y1="12" x2="11" y2="18" /><line x1="5" y1="12" x2="11" y2="6" /></svg></a>

    <div class="flex-fill d-flex flex-column justify-content-center">
        <div class="container-tight py-6">
            <div class="text-center mb-4">
                LOGO
            </div>

            <div class="card card-md">
                <div class="card-body">
                    <h2 class="card-title mb-4 text-center">Créer un compte</h2>
                    {#AFFICHAGE DES MESSAGES D'ERREURS#}
                    {% for flashError in app.flashes('verify_email_error') %}
                        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                    {% endfor %}

                    {#FORMULAIRE D'INSCRIPTION#}
                    {{ form_start(registrationForm) }}
                    <div class="mb-3">
                        {{ form_row(registrationForm.email) }}
                        <small id="email-help" class="pt-5"></small>
                    </div>
                    <div class="mb-3">
                        {{ form_row(registrationForm.plainPassword, {
                            label: 'Password'
                        }) }}
                        <small id="password-help" class="pt-5"></small>
                    </div>
                    <div class="mb-3">
                        {{ form_row(registrationForm.agreeTerms) }}
                    </div>
                    <div class="form-footer">
                        <button type="submit" id="register-btn" class="btn btn-primary w-100 disabled">Inscription</button>
                        {{ form_end(registrationForm) }}
                    </div>
                </div> {# card-body #}
                <div class="hr-text">
                    ou
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <a href="#" class="btn btn-white w-100">
                                Google
                            </a>
                        </div>
                        <div class="col">
                            <a href="#" class="btn btn-white w-100">
                                Facebook
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center text-muted mt-3">
                Vous avez déjà un compte ? <a href="{{ path('app_login') }}" tabindex="-1">Connectez-vous</a>
            </div>
        </div>
    </div>
    </body>
{% endblock %}